/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
    min-height: 100%;
}

body {
    margin: 0 auto;
    font-family: lato;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

h1 {
    color: #333333;
    font-size: 28px;
}

h2 {
    font-size: 24px;
    text-align: left;
    color: #3a3a3a;
}
.add_ideas{
	width:30px;
	width:30px;
}
.content_section
{
	margin:0 auto;
}
.bg-sidebar{
	background-color:#00a94f;
}
.logo_text{
	color:#f0f0f0;
	font-size:14px;
}
.user_text_field{
	border-bottom:1px solid #cccccc;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	width:100%;
	padding:0 0 10px 0px;
	color:#555555;
	font-size:14px;
}
input[type="text"]:focus{
  outline: none;border-bottom:1px solid green;
} 
.idea_pool_success_btn{
	background-color:#00a94f;
	padding:10px 10px;
	width:170px;
	border:1px solid #00a94f;
	color:#f0f0f0;
}
.login_text{
	font-size:14px;
	color:#777777;
}
.login_url{
	color:#00a94f!important;
	text-decoration:none!important;
}
.user-style-border{
	border-top:1px solid #f0f0f0;
}
.user_name_style{
	color:#f0f0f0;
	font-size:15px;
}
.ideas_text{
	font-size:16px;
	color: #2A3842;
}
.idea_table .table td, .idea_table .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 0px solid #dee2e6!important;
    border-bottom: 0px solid #dee2e6!important;
}
.idea_table .table th {
	font-size:14px;
}
.idea_table .table td {
	font-size:14px;
	color:#777777;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
.user_field_number{
	width:60px; 
	height:40px; 
	text-align:center;
	background-color:#E1E1E1; 
	border:1px solid #E1E1E1;
}
.idea_ok{
	color:#00a94f!important;
	margin-left:100px;
}
.br-bt-1{
	border-bottom:1px solid #f0f0f0;
}
.popup_text{
	color:#777777;
	font-size:15px;
}
.sort_by {
	background: url('/assets/down_arrow.png') no-repeat 60%;
}

.idea_table_header th {
	cursor: pointer;
}